body{
    background-color: black;
}
#Contra {

    position:fixed;
    width: 800px;
    height: 700px;
    left:20%;
    bottom:50px;
    top: 100px;
    background-position:0px -178px;
    z-index:1000;
}

h1{
    text-align: center;
    background-color: grey;
}

.invisible{
    visibility: collapse;
    autoplay: false;
}












